<!DOCTYPE HTML>
<html>
    <head>
        <title>HAHA I DID IT</title>
        <meta charset="utf-8" />
    		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

        <script lang="javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script lang="javascript">
            var contract;

            $(document).ready(function() {
                if (typeof web3 !== 'undefined') {
                    var sc_address = "{{contractAddress}}";
                    var contractABI = web3.eth.contract(JSON.parse('{{contractABI | safe}}'));
                    var contractInstance = contractABI.at(sc_address);
                    contract = contractInstance;

                    $("a#call_make_commitment").click(function(){
                        var commitment = $("input#commitment").val();
                        contractInstance.make_commitment(commitment, {from:web3.eth.accounts[0], 'value': 1}, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          }
                        });
                    });
                    $("a#call_reveal").click(function(){
                        var nonce = $("input#nonce").val();
                        var bet = $("input#alice_bet").val();
                        bet = (bet == 1);
                        contractInstance.reveal(bet, nonce, {from:web3.eth.accounts[0]}, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          } else {
                              $("span#winner").text(result);
                          }
                        });
                    });
                    $("a#call_play").click(function(){
                        var bet = $("input#bet").val();
                        bet = (bet == 1);
                        contractInstance.play(bet, {from:web3.eth.accounts[0], 'value': 1}, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          }
                        });
                    });
                    $("a#call_claimTimeout").click(function(){
                        contractInstance.claimTimeout({from:web3.eth.accounts[0]}, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          }
                          else {
                              $("span#winner").text(result);
                          }
                        });
                    });
                }
                else {
                    alert("Please, install Metamask!");
                }
            });
        </script>
    </head>
    <body class="subpage">
      <!-- Header -->
  			<header id="header">
  				<div class="inner">
  					<a href="index.html" class="logo">Coin Game</a>
  					<nav id="nav">
  						<a href="index.html">Home</a>
  						<a href="#">Admin</a>
  						<a href="#">Customer</a>
  					</nav>
  					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  				</div>
  			</header>

        <section id="three" class="wrapper">
  				<div class="inner">
  					<header class="align-center">
  						<h2>Coin Tossing Game!</h2>
  					</header>
            <div class="flex flex-2">
              <article>

                  <br />
                  <input type="text" id="commitment" value="Insert your commitment here" />
                  <br />
                  <footer>
    								<a href="#" id="call_make_commitment" class="button special">Make commitment</a>
    							</footer>
                  <br />


                <p>Choose either 0 or 1 below: <input type="text" id="bet" value="Type your bet here, then click the button below" /></p>
                <footer>
  								<a href="#" id="call_play" class="button special">Play against Alice</a>
  							</footer>
                <br />

                <header>
  								<h3>Claim Timeout</h3>
  							</header>
  							<p><span id="timeout">Can claim once expiration has passed</span><p>
  							<footer>
  								<a href="#" id="call_claimTimeout" class="button special">Claim Timeout</a>
  							</footer>
                <br />
                <br />

                <p> Insert your nonce: <input type="text" id="nonce" value="Change to the nonce" /></p>
                <p> Insert your bet: <input type="text" id="alice_bet" value="Change to your bet" /></p>

                <footer>
                  <a href="#" id="call_reveal" class="button special">Call reveal</a>
                </footer>

                <header>
                  <h3>Winner</h3>
                </header>
                <p><span id="winner">No winner yet</span><p>

                  <!--

                  <p id="demo">A Paragraph</p>
                  <button type="button" onclick="myFunction()">Try it</button>

                  <script>
                    function myFunction() {
                     document.getElementById("demo").innerHTML = "Paragraph changed.";          TEST FOR BUTTON CHANGE
                    }
                  </script>

                  -->


  						</article>
            </div>
  				</div>





  			</section>



    </body>
</html>
